*{
    background-color: #F0FFFF;
  }
  body{
    text-align: center;
    padding-top: 150px;
  }
  p{
    background-color: #5F9EA0;
    padding-left: 100px;
    padding-right: 100px;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    outline: 5px solid grey;
    margin-bottom: 30px;
  }
  #check-btn{
    background-color: #8FBC8F;
    left: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  #clear-btn{
    background-color: #87CEFA;
  }
  #result-div{
    margin-top: 30px;
    background-color: LightSteelBlue;
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    outline: 5px solid grey;
  }
  